<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Mercado liebre</title>

</head>
<body>
    <header class="main-header">

        <div class="main-header-top-bar">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
            
                <input class="input" type="text" placeholder="Buscar productos, marcas">
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
        
            <h2 class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
      
        <nav class="main-navbar">
            <ul class="right-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda </a></li>
            </ul>

            <ul class="left-navbar">
                <li><a href="register.html">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li> 
                <li><a href="#">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    <main> 
        <div><h2 class="titulares">Basado en tu ultima visita</h2></div>
        
        <section class="seccion1">
            <div class="contenedor-article">
                <article class="articulos">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                    <p class="descripciones"><strong>Cafetera moulinex</strong></p>
                </article>
            </div>
                
            <div class="contenedor-article">
                <article class="articulos">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                </article>
            </div>
            <div class="contenedor-article">
                <article class="articulos">
                    <img  src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </article>
            </div>
            <div class="contenedor-article">
                <article class="articulos">
                    <img src="images/img-tv-samsung-smart.jpg" alt= "tv samsung smart">
                    <div>
                        <i class="fa-solid fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </article>
            </div>
        </section>

          <h2 class="titulares">Seccion de ofertas</h2>

        <section class="seccion2">
            <div class="contenedor-article">
                <article class="articulos">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones"><strong>Cafetera moulinex</strong></p>
                </article>
            </div>
            <div class="contenedor-article">
                 <article class="articulos">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro">
                   <div>
                      <p class="precios">$230.000</p>
                      <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
                </article>
            </div>
            <div class="contenedor-article">
                <article class="articulos">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
                </article>
            </div>
            <div class="contenedor-article">
                <article class="articulos">
                    <img src="images/img-tv-samsung-smart.jpg" alt= "tv samsung smart">
                    <div>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
                </article>
             </div>
            
        </section>

    </main>
    <footer>
        <div>
        <i class="fa-solid fa-credit-card icono"></i>
        <h2>Paga con tarjeta o en efectivo</h2>
        <p>Con MercadoLiebreCash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </div>
        <div>
        <i class="fa-solid fa-gift icono"></i>    
        <h2>Envio gratis desde los $2.500</h2>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </div>
        <div>
        <i class="fa-solid fa-user-shield icono"></i>
        <h2>Seguridad de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</P>
        </div>
        <div>
        <p class="final">Copyright 1999-2020 MercadoLiebre S.R.L.</p>
        </div>    
    </footer>

    
</body>
</html>